.background-image {
    background: url(images/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.front-door{
    width: 60%;
    margin: 30vh 20%;
    padding: 10%;
    background-color: black;
    opacity: 0.9;
    box-shadow: 0px 0px 10px white;
    text-align: center;
    color: #aaa;
    border-radius: 3px;
    font-family: 'Shadows Into Light Two', cursive;
}

.front-door .note{
    font-size: 1.4em;
}

.front-door .pin{
    outline:none;
    margin:5px;
    padding: 5px;
    background: rgba(255,255,255,0.1);
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s, border 0.3s, background;
}

.front-door .pin:focus,
.front-door .pin.focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #EED800;
}

.front-door .enter{
    cursor: pointer;
    padding: 20px 5px;
    color:white;
    font-size:1.8em;
}

.front-door .enter:hover{
    text-shadow: 1px 1px 10px #EED800;
}


