.left-panel{
    width:40%;
    float: left;
}

.right-panel{
    display: inline-block;
    width: 60%;
    height: 800px;
    background-color: greenyellow;
    float: left;
}

/****************************************************
*****************************************************
******************  Stream Functionality  ***********
*****************************************************
*****************************************************/

.stream-container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.spacer{
    margin-top: 75%;
}

.stream{
    background-color: yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/****************************************************
*****************************************************
******************  Chat Functionality  *************
*****************************************************
*****************************************************/

.chat-container{
    height:400px;
    background-color: grey;
}

.inbound-message-container{
    padding: 5px;
}

.inbound-message{
    background-color: #ddd;
}

.inbound-message .name{
    font-weight: bold;
    float: left;
}


/****************************************************
*****************************************************
******************  Board Functionality  ************
*****************************************************
*****************************************************/

