.left-panel{
    width:40%;
    min-width: 200px;
    float: left;
}

.right-panel{
    display: inline-block;
    width: 60%;
    min-width: 300px;
    height: 800px;
    background-color: greenyellow;
    float: left;
}
/****************************************************
*****************************************************
******************  Stream Functionality  ***********
*****************************************************
*****************************************************/
.overlay-container{

}

.overlay-container .nametag-form{

}

.nametag-form .name{

}

.nametag-form .submit{
    width: 100px;
    height: 100px;
    background-color: pink;
}


/****************************************************
*****************************************************
******************  Stream Functionality  ***********
*****************************************************
*****************************************************/

.stream-container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.spacer{
    margin-top: 75%;
}

.stream{
    background-color: yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/****************************************************
*****************************************************
******************  Chat Functionality  *************
*****************************************************
*****************************************************/

.chat-container{
    height:400px;
    background-color: grey;
    position: relative;
    padding: 5px;
}

.inbound-message-container{

}

.inbound-message{
    background-color: #ddd;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.inbound-message .name {
    font-weight: bold;
    color: #444;
}

.inbound-message .text{
    display:inline-block;
}

.outbound-message{
    width: 80%;
}

.outbound-message-container .send-message-button{
    width:20%;
}


/****************************************************
*****************************************************
******************  Board Functionality  ************
*****************************************************
*****************************************************/

