/****************************************************
*****************************************************
******************  General Functionality  ***********
*****************************************************
*****************************************************/

.room-container .background-image {
    background: url(images/cork.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.room-container{
    height: 90vh;
    min-width: 900px;
    padding: 2vh 0px;
}

.left-panel{
    width:40%;
    float: left;
    min-height: 700px;
}

.right-panel{
    display: inline-block;
    width: 60%;
    float: left;
    min-height: 700px;
    padding: 0px 0px 0px 10px;
}

/****************************************************
*****************************************************
******************  Nametag Functionality  ***********
*****************************************************
*****************************************************/
.overlay-container{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    text-align: center;
    display: none;
}

.overlay-container .nametag-form{
    width: 40%;
    margin:30vh auto;
    border: 1px solid white;
    color: #ddd;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
    font-family: 'Cinzel', serif;
    padding-top: 15px;
}

.nametag-form .name{
    outline:none;
    margin:5px;
    padding: 5px;
    background: rgba(255,255,255,0.1);
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s, border 0.3s, background;
    font-family: 'Shadows Into Light Two', cursive;
}

.nametag-form .name:focus,
.nametag-form .name.focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #EED800;
}

.nametag-form .submit{
    cursor: pointer;
    padding: 10px 5px;
    color:white;
    font-size:1.8em;
}

.nametag-form .submit:hover{
    text-shadow: 1px 1px 10px #EED800;
}

/****************************************************
*****************************************************
******************  Stream Functionality  ***********
*****************************************************
*****************************************************/

.stream-container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.spacer{
    margin-top: 75%;
}

.stream{
    background-color: black;
    box-shadow: 0px 0px 10px #444;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main-stream{
    overflow: hidden;
    position: absolute;
    top: 2;
    left: 0;
    height: 100%;
}

/****************************************************
*****************************************************
******************  Chat Functionality  *************
*****************************************************
*****************************************************/

.chat-container{
    height:400px;
    background-color: #D8D8D8;
    border: 1px solid #B7B7B7;
    position: relative;
    padding: 5px;
    box-shadow: 0px 0px 10px #444;
}

.inbound-message-container{
    overflow: auto;
    height: 90%;
    border-bottom:1px solid white;
}

.inbound-message{
    background-color: #ddd;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.inbound-message:hover{
    background-color: #d5d5d5;
}

.inbound-message .name {
    font-weight: bold;
    color: #444;
}

.inbound-message .text{
    display:inline-block;
}


.outbound-message-container{
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.outbound-message{
    width: 80%;
    display: inline-block;
    outline:none;
    padding: 5px;
    background: rgba(255,255,255,0.9);
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s, border 0.3s, background;
}

.outbound-message:focus,
.outbound-message.focus{
    border: solid 1px #aaa;
    box-shadow: 0 0 5px 1px #EED800;
}

.outbound-message-container .send-message-button{
    width:15%;
    float: right;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-align:center;
    /*background-color: #cccccc;*/
    color: #333;
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
}
.outbound-message-container .send-message-button:hover{
    border: 1px inset solid black;
    background-color: #aaa;
    color: black;
}


/****************************************************
*****************************************************
******************  Board Functionality  ************
*****************************************************
*****************************************************/

.main-board-container{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.main-board-container>canvas {
    cursor: crosshair;
    box-shadow: 0px 0px 10px black;
    border: 1px solid #444;
}

.main-toolbar{
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -200px;
    background-color: #333333;
    font-family: 'Cinzel', serif;
}

.main-toolbar .tab{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: -50px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    background-color: #333333;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 2.5em;
}

.main-toolbar .button{
    width: 100px;
    height: 50px;
    margin: 50px;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.main-toolbar .button:hover{
    color:#aaa;
}